.body{
    background-color: greenyellow;
}

.score{
    font-size: 30px;
    margin-left: 150px;
}

.time_limit{
    font-size: 30px;
    float:right;
    margin-right: 150px;
}

.update_name{
    text-decoration-color: lightcoral;
}

h1{
    background-color: azure;
}

P{
    padding: 10px;
}

#showSketch{
    float:right;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 120px;
    animation-name:drawing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes drawing{
    from{box-shadow: 1px 1px 38px orangered;}
    to{box-shadow: 1px 1px 38px orange;}
}